.x-datepicker {
  .dp__main.dp__theme_light {
    width: 100%;

    .dp__input {
      border: 0;
      padding-top: 0;
      padding-bottom: 0;
      font-family: $typography-font-family;
    }

    .dp__input_icon_pad {
      padding-left: 24px;
    }

    .dp__input_icon {
      padding-left: 0;
    }

    .dp__clear_icon {
      padding-right: 0;
      top: 25%;
    }
  }
}
